*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #612264;
}



/* Sidebar 
------------------------------------ */
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.sidebar {
    width: 6%;
    margin-top: 2rem;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pages {
    width: 94%;
    margin-top: 2rem;
    height: 95%;
    background-color: #3f2043; 
    color: white;   
    border-radius: 1em;
}

.sidebar a {
    margin: 0.5rem 0 ;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.sidebar a span {
    /* background-color: blue; */
    font-size: 1.5rem;
    padding: .5rem;
}


.sidebar a p {
    font-size: .75em;
}

.active {
    background-color: #98609e;
    border-radius: .4em;
}

.active {
    background-color: none;
}

.sidebar section {
    margin-top: auto;
    margin-bottom: 1rem;
    width: 2.5rem;
    height: 2.5rem;
}

.sidebar section img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: .5em;

  }

.home-section-chat {
    background-color: #3f2043;
    width: 94%;
    height: 100%;
}

/* Home 
------------------------------ */

.home-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.channel-window {
    width: 20%;
    height: 100%;
    padding: 1em;
}

.chat {
    width: 80%;
    height: 100%;
    background-color: #fff;
    color: black;
    padding: 1em;
}

/* ChannelWindow 
------------------------------ */
.channel-window header {
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
    border-bottom: 1px solid #503255;
}

.title-container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container h3 {
    white-space: nowrap;
    overflow: hidden;
}

.title {
    text-overflow: ellipsis;
}

.channel-window main {
    width: 100%;
    height: 92%;
}

.channel__thread {
    width: 100%;
    height: 10%;
}

.channel__channels {
    min-height: fit-content;
    max-height: 45%;
    padding: .75rem 0;
}

.channels-title {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 1rem;
}

.channels-title span {
    font-size: 0.8em;
    padding-right: 0.5em;
}

.channels-list {
    display: flex;
    align-items: center;
    list-style: none;
    text-transform: lowercase;
    margin-bottom: 0.3rem;
}

.channels-list span {
    font-size: 0.9em;
    padding-right: 0.6rem;
}

.channels-list li {
    font-size: 1.1em;
}

.channel__dm {
    min-height: fit-content;
    max-height: 45%;
    padding: .75rem 0;
}







